<h1>Tweets</h1>
<hr/>

<% if user_signed_in? %>
<div class="card" style="width: 18rem;">
  <div class="card-body">
    <li> Id: <%= current_user.id %> </li>
    <li> Username: <%= current_user.username %> </li>
    <li> Correo: <%= current_user.email %> </li>
  </div>
</div>
<!--<p> Id: <%= current_user.id %>, Username: <%= current_user.username %>, Correo: <%= current_user.email %>  </p> -->
   <%= render "tweets/form", tweet: @tweet %>
<% end  %>

<% @tweets.each do |tweet| %>
<hr>
<div class="row">

   <%= image_tag(tweet.user.photo_url, :size => "80x80") %> /
   <%= tweet.contenido %> / 
   Creado Hace: <%= time_ago_in_words(tweet.created_at) %>
   <hr>


 
   <!-- Sin iconos 
         <%= tweet.likes.count %> likes / 0 Re-Tweets -->



<%= tweet.likes.count %> 
<% if tweet.is_liked?(current_user) %>
   <%= link_to '<i class="fas fa-thumbs-up"></i>'.html_safe, tweet_likes_path(tweet), method: :post %>
<% else %>
     <%= link_to '<i class="fas fa-thumbs-down"></i>'.html_safe, tweet_likes_path(tweet), method: :post %>
<% end %>





/ 0 Re-Tweets 





    

</div>



<!-- Tweets en modo card Boostrap
   <div class="card" style="width: 18rem;">
   <%= image_tag(tweet.user.photo_url, class: "card-img-top") %> 
  <div class="card-body">
    <h5 class="card-title"><%= tweet.contenido %></h5>
    
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">  Numero de Likes <%= tweet.likes.count %></li>
    <li class="list-group-item">Dapibus ac facilisis in</li>
    <li class="list-group-item">Vestibulum at eros</li>
  </ul>
  <div class="card-body">
    <a href="#" class="card-link">Card link</a>
    <a href="#" class="card-link">Another link</a>
  </div>
</div> -->

<% end %>
<!-- Paginador Kaminari por defecto. 
<hr> 
<%= paginate @tweets %> -->
<hr> 
<%= link_to_previous_page @tweets,  "<<< Mostrar Anterior", class: 'btn btn-dark' %>

<%= link_to_next_page @tweets,  "Mostrar Mas >>>", class:  "btn btn-dark" %>