<h1>Home#index</h1>

<% @tweets.each do |tweet| %>

   <!-- <%= image_tag(tweet.user.photo_url) %>
   <%= tweet.contenido %>
   <%= tweet.likes.count %> -->

   <div class="card" style="width: 18rem;">
   <%= image_tag(tweet.user.photo_url, class: "card-img-top") %> 
  <div class="card-body">
    <h5 class="card-title"><%= tweet.contenido %></h5>
    
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">  Numero de Likes <%= tweet.likes.count %></li>
    <li class="list-group-item">Dapibus ac facilisis in</li>
    <li class="list-group-item">Vestibulum at eros</li>
  </ul>
  <div class="card-body">
    <a href="#" class="card-link">Card link</a>
    <a href="#" class="card-link">Another link</a>
  </div>
</div>

<% end %>

