
<% if user_signed_in? %>
<div class="card" style="width: 18rem;">
  <div class="card-body">
    <li> Id: <%= current_user.id %> </li>
    <li> Logeado Como: <b> <%= current_user.username %> </b> </li>
    <li> Correo: <%= current_user.email %> </li>
  </div>
</div>

<br>

<!--<p> Id: <%= current_user.id %>, Username: <%= current_user.username %>, Correo: <%= current_user.email %>  </p> -->
   <%= render "tweets/form", tweet: @tweet %>
<% end  %>

<% @tweets.each do |tweet| %>
<hr>
<div class="row  justify-content-center">

 <!--   <%= image_tag(tweet.user.photo_url, :size => "48x48") %> &nbsp /
   <%= tweet.user.username %> /
   <%= tweet.contenido %> /
    
   Creado Hace:&nbsp <%=link_to time_ago_in_words(tweet.created_at), tweet %>
   <% if tweet.is_retweet? %>
      <%= link_to " * * *", tweet.tweet_ref %>
    <% end %>
   <hr>   -->


<div class="card" style="width: 48rem;">

  <div class="card-body">
    <%= image_tag(tweet.user.photo_url, :size => "48x48", class: "float-right") %>
    <br>
    <br>
    <br>
    <% if user_signed_in? && current_user != tweet.user %>
      <%= link_to current_user.is_following?(tweet.user) ? "Dejar de Seguir" : "Seguir", users_follow_path(tweet.user.id), :class => "btn btn-success float-right", method: :post %>
    <% end %>
      <!-- <h5 class="card-title"><%= tweet.user.username %> escribio:</h5> -->
      <br>
       <br>
        <br>
    <p class="card-text"><b><%= tweet.user.username %></b> escribio el siguiente contenido: </p>
    <div class="card">
    <br>
    <p class="card-text"><%= tweet.contenido %></p>
    <br>
    </div>
    <br>
  <p class="card-text">Creado Hace:&nbsp <%=link_to time_ago_in_words(tweet.created_at), tweet %> </p>

   <!-- <%= link_to "Seguir", users_follow_path(tweet.user.id) %> -->



   <% if tweet.is_retweet? %>
       <%= link_to "- Retweeteado -", tweet.tweet_ref, style: "color: white; background: green;" %>
     <% end %>

    <br>

   <!--  <a href="#" class="btn btn-primary">Go somewhere</a> -->
<br>
   <%= tweet.likes.count %> 
<% if tweet.is_liked?(current_user) %>
  &nbsp <%= link_to '<i class="far fa-grin-alt" style="font-size:48px;color:grey"></i>'.html_safe, tweet_likes_path(tweet), method: :post, "data-toggle" => "tooltip", "data-placement" => "top", "title" => "Like / Dis_Like" %>
<% else %>
   &nbsp   <%= link_to '<i class="far fa-meh" style="font-size:48px;color:grey"></i>'.html_safe, tweet_likes_path(tweet), method: :post, "data-toggle" => "tooltip", "data-placement" => "top", "title" => "Like / Dis_Like" %>
<% end %>



&nbsp/&nbsp <%= tweet.count_rt %> &nbsp

<%= link_to '<i class="fas fa-arrow-circle-right"  style="font-size:48px;color:grey"></i>'.html_safe, tweet_retweet_path(tweet), method: :post, "data-toggle" => "tooltip", "data-placement" => "top", "title" => "Re_tweet" %>
  </div>
</div>


 
   <!-- Sin iconos 
         <%= tweet.likes.count %> likes / 0 Re-Tweets -->




    

</div>



<!-- Tweets en modo card Boostrap
   <div class="card" style="width: 18rem;">
   <%= image_tag(tweet.user.photo_url, class: "card-img-top") %> 
  <div class="card-body">
    <h5 class="card-title"><%= tweet.contenido %></h5>
    
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">  Numero de Likes <%= tweet.likes.count %></li>
    <li class="list-group-item">Dapibus ac facilisis in</li>
    <li class="list-group-item">Vestibulum at eros</li>
  </ul>
  <div class="card-body">
    <a href="#" class="card-link">Card link</a>
    <a href="#" class="card-link">Another link</a>
  </div>
</div> -->

<% end %>
<!-- Paginador Kaminari por defecto. 
<hr> 
<%= paginate @tweets %> -->
<hr> 
<%= link_to_previous_page @tweets,  "<<< Mostrar Anterior", class: 'btn btn-dark' %>

<%= link_to_next_page @tweets,  "Mostrar Mas >>>", class:  "btn btn-dark" %>